
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-L3h {
  border-radius: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:c096bd6e2f6a4ac0333659abd767f4b32ffdb860');
  box-sizing: border-box;
  padding: 4rem 5.1rem 3.1rem 5.1rem;
  width: 100%;
  position: relative;
  align-items: center;

  .auto-group-tdzz-dHh {
    margin-bottom: 1.1rem;
    width: 100%;
    height: 43.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-eazv-MUb {
      background-color: #dae5e9;
      margin-right: 18.8rem;
      height: 100%;
      font-size: 3.6rem;
      font-family: Jua, 'Source Sans Pro';
      text-decoration-line: underline;
      color: #1ec49c;
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 35.2rem 3.8rem 3.4rem 26.1rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .auto-group-wwtf-ZKm {
      background-color: #dae5e9;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.4rem 2rem 4.2rem 2rem;
      height: 100%;
      flex-direction: column;
      width: 57.5rem;
      align-items: flex-end;
      display: flex;

      .you-could-have-read-it-clearly-through-my-eyes-but-you-waited-for-that-voiceless-uneducated-tongue-to-speak-you-waited-for-someone-who-has-completely-forgotten-to-shape-love-with-her-palms-turned-bare-and-weak-Uhd {
        font-size: 2.9rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 5.6rem 9rem 0rem;
        max-width: 47.9rem;
      }
      .by-deepangi-Jgf {
        margin-right: 4.8rem;
        font-size: 2.9rem;
        text-transform: capitalize;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.25;
        text-decoration-line: underline;
        color: #1fc49c;
      }
    }
  }
  .sad-poems-Qzb {
    margin-right: 0.4rem;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.25;
    font-family: Jua, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-xrex-xFR {
    width: 100%;
    height: 43.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-2mjp-JKH {
      margin-right: 18.8rem;
      box-sizing: border-box;
      padding: 34.9rem 3.6rem 3.7rem 29.9rem;
      height: 100%;
      font-size: 3.6rem;
      text-decoration-line: underline;
      background-color: #dae5e9;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.25;
      color: #1fc49c;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-ckqh-vrT {
      line-height: 1.25;
      text-decoration-line: underline;
      color: #1fc49c;
      font-family: Jua, 'Source Sans Pro';
      box-sizing: border-box;
      padding: 34.9rem 3.2rem 3.7rem 30.3rem;
      height: 100%;
      font-weight: 400;
      background-color: #dae5e9;
      font-size: 3.6rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
