
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.3rem;
}.desktop-1-PcB {
  width: 100%;
  height: 102.9rem;
  position: relative;
  overflow: hidden;
  background-color: #3c7288;
  border-radius: 10rem;

  .frame-1-vVd {
    height: 10rem;
    position: absolute;
    left: 50.8rem;
    top: 31.6rem;
    overflow: hidden;
    width: 10rem;
  }
  .rectangle-1-DDq {
    left: 16.5rem;
    top: 9.8rem;
    background-color: rgba(60, 113, 136, 0.5299999714);
    border-radius: 10rem;
    width: 112.9rem;
    height: 89.6rem;
    position: absolute;
  }
  .rectangle-10-SVu {
    height: 89.6rem;
    position: absolute;
    left: 16.5rem;
    top: 9.8rem;
    background-color: rgba(60, 113, 136, 0.5299999714);
    border-radius: 10rem;
    width: 112.9rem;
  }
  .i-accept-the-terms-of-use-privacy-policy-vR5 {
    height: 3rem;
    left: 53.2rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 49.2rem;
    position: absolute;
    top: 63.7rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .rectangle-3-mAo {
    border-radius: 10rem;
    width: 69.5rem;
    height: 5rem;
    position: absolute;
    left: 36.5rem;
    top: 52.1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .rectangle-11-gHm {
    border-radius: 10rem;
    width: 54rem;
    height: 5rem;
    position: absolute;
    left: 48.3rem;
    top: 72.4rem;
    background-color: rgba(147, 132, 55, 0.5);
  }
  .sign-up-otB {
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 9.8rem;
    top: 73.4rem;
    left: 66.1rem;
    font-size: 2.4rem;
    white-space: nowrap;
    height: 3rem;
    position: absolute;
  }
  .already-have-an-account-login-here-7P5 {
    left: 53.4rem;
    color: #ffffff;
    top: 82.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 43.8rem;
    height: 3rem;
    position: absolute;
    white-space: nowrap;
  }
  .rectangle-8-AcF {
    position: absolute;
    left: 36.5rem;
    top: 44.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10rem;
    width: 69.5rem;
    height: 5rem;
  }
  .rectangle-7-U79 {
    position: absolute;
    left: 36.5rem;
    top: 26.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10rem;
    width: 36.4rem;
    height: 4.8rem;
  }
  .rectangle-6-AVm {
    top: 35.6rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 10rem;
    width: 69.5rem;
    height: 5rem;
    position: absolute;
    left: 36.5rem;
  }
  .email--5sd {
    width: 11.1rem;
    height: 4.4rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 38.1rem;
    top: 36.1rem;
    font-size: 3.6rem;
    line-height: 1.2125;
  }
  .password--AeB {
    font-family: Inter, 'Source Sans Pro';
    left: 38.1rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-size: 3.6rem;
    white-space: nowrap;
    width: 19.7rem;
    height: 4.4rem;
    position: absolute;
    top: 45.1rem;
  }
  .sign-up-sHh {
    width: 23.1rem;
    left: 59.9rem;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.3175;
    font-family: Jacques Francois Shadow, 'Source Sans Pro';
    height: 6.4rem;
    position: absolute;
    top: 15.9rem;
    white-space: nowrap;
  }
  .rectangle-2-x4F {
    height: 4.8rem;
    position: absolute;
    left: 79.6rem;
    top: 26.8rem;
    background-color: rgba(16, 15, 15, 0.6200000048);
    border-radius: 10rem;
    width: 36.4rem;
  }
  .first-name--5Pm {
    top: 27.2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    width: 21.5rem;
    height: 4.4rem;
    position: absolute;
    left: 38.1rem;
    font-size: 3.6rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .frame-2-mGb {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 52rem;
    top: 53.9rem;
    overflow: hidden;
  }
  .last-name--UB1 {
    height: 4.4rem;
    position: absolute;
    left: 81.7rem;
    font-size: 3.6rem;
    font-weight: 400;
    white-space: nowrap;
    width: 21.3rem;
    top: 27.2rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
  .confirm-password--ydZ {
    white-space: nowrap;
    height: 4.4rem;
    top: 52.8rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 33.2rem;
    position: absolute;
    left: 38.1rem;
    font-size: 3.6rem;
  }
  .rectangle-9-siw {
    width: 2.9rem;
    height: 2.5rem;
    position: absolute;
    left: 48.3rem;
    top: 63.9rem;
    background-color: #d9d9d9;
  }
}
