
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-9-mSw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2.3rem 6.9rem 2rem 5.6rem;
  border-radius: 10rem;
  background-position: center;
  display: flex;
  background-image: url('REPLACE_IMAGE:d164cf31e84f91a2cdf93148cd18f655a70d58c4');
  box-sizing: border-box;

  .auto-group-sx8t-Vdq {
    height: 43.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 4rem;
    width: 100%;

    .auto-group-jg63-39Z {
      font-size: 3.6rem;
      font-weight: 400;
      text-decoration-line: underline;
      background-color: rgba(218, 229, 233, 0.5100000346);
      flex-shrink: 0;
      white-space: nowrap;
      margin-right: 16.5rem;
      box-sizing: border-box;
      padding: 33.6rem 2.6rem 5rem 28.8rem;
      height: 100%;
      line-height: 1.25;
      color: #000000;
      font-family: Jua, 'Source Sans Pro';
    }
    .auto-group-m2l7-7fD {
      line-height: 1.25;
      color: #000000;
      background-color: rgba(218, 229, 233, 0.5100000346);
      padding: 33.6rem 3rem 5rem 22.9rem;
      font-weight: 400;
      font-size: 3.6rem;
      text-decoration-line: underline;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;
    }
  }
  .regret-poems-MZZ {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0.9rem 1.9rem 0rem;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.25;
    font-family: Jua, 'Source Sans Pro';
  }
  .auto-group-bmhh-GwR {
    flex-shrink: 0;
    width: 100%;
    height: 43.1rem;
    display: flex;
    align-items: center;

    .auto-group-e6as-69m {
      margin-right: 16.5rem;
      padding: 1.8rem 2.5rem 3.1rem 1.9rem;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 57.5rem;
      height: 100%;
      align-items: flex-end;
      display: flex;
      background-color: rgba(218, 229, 233, 0.5100000346);

      .i-have-no-regrets-in-my-life-all-the-choices-i-made-all-the-mistakes-i-made-all-the-lessons-ive-learned-along-the-way-have-led-me-to-this-point-in-my-life-and-have-made-me-the-person-i-am-today-1Xd {
        flex-shrink: 0;
        margin: 0rem 5.2rem 2.2rem 0rem;
        max-width: 47.9rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
      }
      .by-dave-hedges-e4o {
        text-decoration-line: underline;
        color: #000000;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
    .auto-group-pd9h-XuH {
      font-size: 3.6rem;
      font-weight: 400;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(218, 229, 233, 0.5100000346);
      flex-shrink: 0;
      height: 100%;
      padding: 35.5rem 2.8rem 3.1rem 29.7rem;
      line-height: 1.25;
      text-decoration-line: underline;
      color: #000000;
      box-sizing: border-box;
    }
  }
}
