
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.8rem;
}.we-are-all-so-different-and-yet-so-much-the-same-everyone-in-some-way-or-another-will-experience-a-kind-of-pain-JJb {
  font-family: Jua, 'Source Sans Pro';
  width: 100%;
  height: 22.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
}
