
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.7rem;
}.depression-on-my-left-loneliness-on-my-right-they-dont-need-to-show-me-their-badges-i-know-these-guys-very-well-VM9 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  width: 100%;
  height: 27rem;
}
