
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.4rem;
}.in-the-moonlight-i-wish-on-the-stars-that-you-were-here-instead-of-being-there-one-day-i-will-feel-your-warm-embrace-and-no-more-tears-will-fall-down-from-my-face-kqM {
  width: 100%;
  height: 27rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
