
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50rem;
}.so-in-my-heart-i-do-not-think-it-is-worth-it-just-to-be-right-life-is-too-short-not-to-say-we-love-you-and-we-wont-give-up-without-a-fight-fxs {
  width: 100%;
  height: 22.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
}
