
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.1rem;
}.dont-fear-failure-so-much-that-you-refuse-to-try-new-things-the-saddest-summary-of-a-life-contains-three-descriptions-could-have-might-have-and-should-have-NNs {
  line-height: 1.25;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  width: 100%;
  height: 27rem;
  font-size: 3.6rem;
  font-weight: 400;
}
